body{
    margin: 0;
    background-image: url(11.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.image{
    width: 30px;
    height: 30px;
    margin: 15px 0 0 100px;
    border-radius: 50%; 
} 

#title{
    color: brown;
    font-weight: 700;
    margin: -27px 0 0 140px;
}
.lists{
    display: flex;
    float:right;
    list-style: none;
    margin: -29px 2px 0 0;
}

.lists li{
    padding: 10px;
    /* padding: 10px 20px; */
    color: white;
}

.desc{
    text-align: center;
    font-size: 65px;
    color: white;
}

button{
     color: white;
     background-color: gray;
     border: none;
     height: 50px;
     width: 130px;
     border-radius: 5px;
     font-size: 20px;
     margin: 0 0 0 40rem;
}

button:hover{
    color:black;
    background: rgba(255, 0, 0, 0.014);
}